<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Honey Aggregator.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AA09AC9425C31F2600351DA3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA09ACA525C31F2700351DA3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA09ACB025C31F2700351DA3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
